<body class="bg-gray-100">

    <div class="min-h-screen p-6">

        <header class="flex justify-between items-center mb-8">
            <h1 class="text-2xl font-bold text-gray-800">DashBoard</h1>
            <nav class="text-sm text-gray-600">
                Home / <span class="font-semibold">DashBoard</span>
            </nav>
        </header>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">

            <div class="relative bg-blue-500 rounded-lg shadow-md p-4 text-white overflow-hidden h-40 flex flex-col justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-4 right-4 h-20 w-20 opacity-25 transform rotate-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
                <h2 class="text-lg font-semibold z-10">Lote(s) Preparo</h2>
                <p class="text-3xl font-bold z-10 my-auto">Carregando...</p>
                <p class="text-sm text-right z-10">Carregando...</p>
            </div>

            <div class="relative bg-green-500 rounded-lg shadow-md p-4 text-white overflow-hidden h-40 flex flex-col justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-4 right-4 h-20 w-20 opacity-25" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <h2 class="text-lg font-semibold z-10">Lote(s) Scan</h2>
                <p class="text-3xl font-bold z-10 my-auto">Carregando...</p>
                <p class="text-sm text-right z-10">Carregando...</p>
            </div>

            <div class="relative bg-orange-500 rounded-lg shadow-md p-4 text-white overflow-hidden h-40 flex flex-col justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-4 right-4 h-20 w-20 opacity-25" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <h2 class="text-lg font-semibold z-10">Lote(s) CQ</h2>
                <p class="text-3xl font-bold z-10 my-auto">Carregando...</p>
                <p class="text-sm text-right z-10">Carregando...</p>
            </div>

            <div class="relative bg-cyan-500 rounded-lg shadow-md p-4 text-white overflow-hidden h-40 flex flex-col justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-4 right-4 h-20 w-20 opacity-25" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                </svg>
                <h2 class="text-lg font-semibold z-10">Lote(s) Indexação</h2>
                <p class="text-3xl font-bold z-10 my-auto">Carregando...</p>
                <p class="text-sm text-right z-10">Carregando...</p>
            </div>
        </div>


        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-8 h-96">

            <div class="bg-white rounded-lg shadow-md flex flex-col">
                <div class="bg-slate-100 px-4 py-3 rounded-t-lg border-b font-semibold text-center text-gray-700">
                    Top 10 Scan
                </div>
                <div class="p-4 flex-grow overflow-auto">
                    <table class="w-full text-left">
                        <thead>
                            <tr>
                                <th class="pb-2 text-gray-600 font-semibold">Operador</th>
                                <th class="pb-2 text-gray-600 font-semibold text-right">QTD Imagens</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col">
                <div class="bg-slate-100 px-4 py-3 rounded-t-lg border-b font-semibold text-center text-gray-700">
                    Produção
                </div>
                <div class="p-4 flex-grow overflow-auto">
                    <table class="w-full text-left">
                        <thead>
                            <tr>
                                <th class="pb-2 text-gray-600 font-semibold">Data</th>
                                <th class="pb-2 text-gray-600 font-semibold">FILA</th>
                                <th class="pb-2 text-gray-600 font-semibold text-center">QTD Lotes(s)</th>
                                <th class="pb-2 text-gray-600 font-semibold text-right">QTD Img / Docs</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md flex flex-col">
                <div class="bg-slate-100 px-4 py-3 rounded-t-lg border-b font-semibold text-center text-gray-700">
                    Faturamento
                </div>
                <div class="p-4 flex-grow overflow-auto">
                    <table class="w-full text-left">
                        <thead>
                            <tr>
                                <th class="pb-2 text-gray-600 font-semibold">Mes/Ano</th>
                                <th class="pb-2 text-gray-600 font-semibold text-right">QTD Imagens</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 h-96">
            <div class="bg-white rounded-lg shadow-md flex flex-col">
                <div class="bg-slate-100 px-4 py-3 rounded-t-lg border-b font-semibold text-center text-gray-700">
                    Top 10 Preparo
                </div>
                <div class="p-4 flex-grow overflow-auto">
                    <table class="w-full text-left">
                        <thead>
                            <tr>
                                <th class="pb-2 text-gray-600 font-semibold">Operador</th>
                                <th class="pb-2 text-gray-600 font-semibold text-right">QTD Lotes</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>

    </div>

</body>