@{
    string errmsg =  TempData["erro"] as string;
    string okmsg = TempData["ok"] as string;
}

@if (!string.IsNullOrEmpty(errmsg))
{
    <div class="alert alert-danger">@errmsg</div>
    <input id="eherro" type="hidden" value=@errmsg />
    
}
else if (!string.IsNullOrEmpty(okmsg))
{    
    <div class="alert alert-success">@okmsg</div>
}

@{
    TempData["ok"] = null;
    TempData["erro"] = null;
}


